/*

  Typography
  +

*/

html {
  font-size: 100%;
}

body {
  background-color: white;
  font-family: $font_body;
  font-size: $base_font-size;
  font-weight: normal;
  line-height: $font_line-height-body;
  color: $gray;
}


ol{
  text-align: left;

  li{

  }
}

code{
  font-weight: bold;
  padding: 2px 5px;
  border-radius: 3px;
}

a{
  color: white;
  font-weight: bold;
}


//General
::-moz-selection {
  display: inline-block;
  text-shadow: none;
}
::selection {
  display: inline-block;
  text-shadow: none;
}
p { 
  margin-bottom: 1.3em;
  line-height: 1.75em;
}
blockquote {
  margin: 0 0 1.3em;
}
address {
  margin: 0 0 1.3em;
}
dfn {
  font-size: 1em;
}
em {
  @extend dfn;
  font-style: italic;
}
cite {
  @extend em;
}
i {
  @extend em;
}
code {
  @extend dfn;
}
kbd {
  @extend dfn;
}
tt {
  @extend dfn;
}
var {
  @extend dfn;
}

abbr {
  border-bottom: 1px dotted $color_border-abbr;
  cursor: help;
}
acronym {
  @extend abbr;
}
mark {
  background: $color_background-ins;
  text-decoration: none;
}
ins {
  @extend mark;
}
big {
  font-size: 125%;
}

pre {
    background: $color_background-main;
    padding: 20px 30px;
    margin-bottom: 30px;
    max-width: 100%;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    font-size: 0.929em;
    overflow: auto;
}
.dropcap {
  display: block;
  float: left;
  margin: 15px 5px 0 0;
  font-weight: bold;
  font-size: 60px;
  color: #ccc;
}

// Headings
h1, h2, h3, h4, h5, h6 {
  clear: both;
  font-family: $font_heading;
  line-height: $font_line-height-heading;
  color: $color_heading;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: $heading_one;
}

h2 {
  font-size: $heading_two;
}

h3 {
  font-size: $heading_three;
}

h4 {
  font-size: $heading_four;
}

h5 {
  font-size: $heading_five;
}

h6 {
  font-size: $heading_six;
}

small {
  font-size: $heading_six;
} 

.font_small {
  @extend small;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a {
    color: inherit;
    text-decoration: none
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
    color: inherit;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Font Weight
--------------------------------------------------------------*/
.w-100 {
    font-weight: 100;
}
.w-300 {
    font-weight: 300;
}
.w-400 {
    font-weight: 400;
}
.w-500 {
    font-weight: 500;
}
.w-600 {
    font-weight: 600;
}
.w-700 {
    font-weight: 700;
}
.w-800 {
    font-weight: 800;
}
.w-900 {
    font-weight: 900;
}
/*--------------------------------------------------------------
# Extra Headings
--------------------------------------------------------------*/
.static-heading {
    .static-pre-heading, 
    .static-animated-heading, 
    .static-post-heading {
        display: inline-block;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    span {
        display: inline-block;
    }
    .typed-cursor {
        opacity: 1;
        font-weight: 100;
        -webkit-animation: typed-blink 0.7s infinite;
        -moz-animation: typed-blink 0.7s infinite;
        -ms-animation: typed-blink 0.7s infinite;
        -o-animation: typed-blink 0.7s infinite;
        animation: typed-blink 0.7s infinite;
    }
}

.static-advanced-heading {
    .static-heading-tag {
        margin: 0;
        padding: 0;
    }
    a {
        color: inherit;
        &:hover {
            color: inherit;
        }
    }
    .static-sub-heading,
    .static-main-heading {
        z-index: 1;
        position: relative;
    }
    .static-sub-heading {
        display: inline-block;
        line-height: 1;
    }
    .static-sub-heading-content,
    .static-main-heading {
        display: inline-block;
        vertical-align: middle;
    }
    .static-sub-heading .line:after,
    .static-main-heading .line:after {
        content: "";
        background-color: #1e87f0;
        height: 2px;
        width: 40px;
        display: inline-block;
        vertical-align: middle;
    }
    .static-sub-heading .line.static-button-icon-align-bottom,
    .static-main-heading .line.static-button-icon-align-bottom {
        line-height: 0;
    }
    .static-advanced-heading-content {
        color: rgba(156, 156, 156, 0.12);
        z-index: 0;
        font-size: 60px;
        text-transform: uppercase;
        font-weight: 700;
        line-height: 1;
        bottom: 0;
        width: 100%;
        transition: all 0.3s ease-out;
        position: absolute;
    }
    .static-advanced-heading-content > div {
        display: inline-block;
    }
}
.static-ep-main-color-yes .static-advanced-heading .static-main-heading {
    background-color: transparent;
    background-image: linear-gradient(240deg, #0E83CD 0, #8062d4 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.static-ep-advanced-color-yes .static-advanced-heading .static-advanced-heading-content > div {
    background-color: transparent;
    background-image: linear-gradient(240deg, #0E83CD 0, #8062d4 100%);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/*--------------------------------------------------------------
# Animations Type Blink
--------------------------------------------------------------*/
@keyframes typed-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes typed-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes typed-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes typed-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes typed-blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

